# name: CI - Build & Push Docker Image

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Login to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Build & Push Docker Image
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           push: true
#           tags: |
#             2121g/prisma-app:latest
#             2121g/prisma-app:${{ github.sha }}
            
#       - name: Deploy on EC2
#         uses: appleboy/ssh-action@v1.0.3
#         with:
#           host: ${{ secrets.PC_HOST }}
#           username: ${{ secrets.PC_USER }}
#           key: ${{ secrets.PC_SSH_KEY }}
#           script: |
#             mkdir -p ~/prisma-app
#             cd ~/prisma-app
#             docker-compose pull app
#             docker-compose up -d --scale app=3


name: CI - Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            2121g/prisma-app:latest
            2121g/prisma-app:${{ github.sha }}
          
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PC_HOST }}
          username: ${{ secrets.PC_USER }}
          key: ${{ secrets.PC_SSH_KEY }}
          script: |
            mkdir -p ~/prisma-app
            cd ~/prisma-app
            docker-compose pull app
            docker-compose up -d --scale app=3  